body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#add-task {
    text-align: center;
}

#task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-input,
#deadline-input,
#priority-input,
button {
    margin: 5px;
    padding: 5px;
}

#task-list {
    text-align: center;
}

#tasks {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}